/* Đặt container tổng */
.home-container {
  display: flex;
}

/* Đặt menu bên trái */
/* #sidebar {
  width: 280px;
  height: 100vh;
  background: var(--light);
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
} */

/* Đặt nội dung bên phải */
.content {
  margin-left: 280px; /* Chừa chỗ cho sidebar */
  padding: 20px;
  width: calc(100% - 280px);
  background: var(--grey);
}

h3{
    text-transform: uppercase;
    margin-bottom: 50px;
    color: var(--hongdam);
}

