form > div{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Thêm khoảng cách giữa các phần tử nếu cần */
}

form > div > label {
  margin-bottom: 10px; /* Khoảng cách giữa label và input */
  font-weight: bold; /* Làm chữ label đậm hơn nếu cần */
}

form > div > input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}
form > div > select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}

form > div > textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}

.idsanpham{
  background-color: var(--hongnhat);
}
input:focus {
  border-color: var(--hongnhat); /* Màu viền khi ô nhập liệu được chọn */
  outline: none; /* Xóa viền mặc định của trình duyệt */
}

.them{
  width: 20%;
  height: 50px;
  margin: 15px 15px 150px 0;
  font-size: 20px;
  /* background-color: var(--hongdam); */
  border-radius: 10px;
  color: var(--hongdam);
  border-color: var(--hongdam);
  background-color: transparent;
  transition: all 0.6s ease;
}
.them:hover{
  background-color: var(--hongdam);
  color: aliceblue;
  box-shadow: 0px 0px 10px var(--hongdam);

}

