body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;

  will-change: auto;
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px);
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px);
}

.simplebar-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container-lg {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

label {
  font-weight: 500;
}

.blue-txt {
  font-weight: 600;
}

.orange-txt {
  font-weight: 600;
}

.button-add {
  margin-right: 8px;
}

.component-size {
  font-size: 14px;
}

.upload-image {
  border: 1px solid steelblue;
}

.toggle-pointer {
  cursor: pointer;
}

.button-action {
  border: none;
  padding: 5px 7px;
  margin-right: 4px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button-add {
  margin-right: 8px;
}

.filter-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.filter-table th,
.filter-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.filter-table thead th {
  background-color: #f9f9f9;
  font-size: 1.1em;
}

.filter-table .total-count {
  color: red;
  text-align: left;
  font-weight: 600;
}

.filter-table .search-input {
  width: 80%;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.filter-table .search-input:focus {
  border-color: lightblue;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-table .submit-btn {
  padding: 4px 8px;
  margin-left: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-table .submit-btn:hover {
  background-color: lightgray;
  transition: all ease-in 0.3;
}

.select-input {
  font-size: 14px;
}

.page-link {
  font-size: 12px;
  padding: 5px 10px;
}

.custom-datepicker-wrapper {
  display: flex;
  align-items: center;
}

.custom-datepicker-wrapper .react-datepicker-wrapper {
  width: auto;
  margin-right: 10px;
}

.custom-datepicker {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-datepicker:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.datepicker-label {
  margin: 0 10px;
  font-weight: bold;
}

.text-danger {
  margin-top: 5px;
  font-size: 0.875rem;
}

.order-code,
.customer-name,
.total {
  font-weight: 600;
}


.custom-sidebar6 {
  background-color: #0f79e3 !important;
  min-height: 100vh;
  width: 2500px;
}




